# Decision Tree Classification â€” Heart Disease Dataset

**Note:** This notebook assumes the dataset is located at:

`D:\DATA-SCIENCE\ASSIGNMENTS\13 decision tree\heart_disease.xlsx`

If you run locally, the notebook will load from that path. If not found, it will try the sandbox `/mnt/data` fallback.

In [1]:
# 1) Data loading
import os, pandas as pd
DATA_DIR = r"D:\DATA-SCIENCE\ASSIGNMENTS\13 decision tree"
excel_path = os.path.join(DATA_DIR, "heart_disease.xlsx")

if os.path.exists(excel_path):
    path = excel_path
else:
    path = "/mnt/data/heart_disease.xlsx"

print("Loading dataset from:", path)
df = pd.read_excel(path)
print("Shape:", df.shape)
display(df.head())

Loading dataset from: D:\DATA-SCIENCE\ASSIGNMENTS\13 decision tree\heart_disease.xlsx
Shape: (908, 13)

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,thal,num
0,63,Male,typical angina,145,233,True,lv hypertrophy,150,False,2.3,downsloping,fixed defect,0
1,41,Male,atypical angina,135,203,False,normal,132,False,0.0,flat,fixed defect,0
2,57,Male,asymptomatic,140,192,False,normal,148,False,0.4,flat,fixed defect,0
3,52,Male,typical angina,118,186,False,lv hypertrophy,190,False,0.0,flat,fixed defect,0
4,57,Male,asymptomatic,110,201,False,normal,126,True,1.5,flat,fixed defect,0

## 2) EDA
Run the following cells to perform EDA, preprocessing, model training and saving. The notebook is configured to save outputs to the same folder when run locally.

In [2]:
# Placeholder: Basic EDA (run locally to see outputs)
print(df.info())
print('\nMissing values:')
display(df.isnull().sum())
print('\nNumeric describe:')
display(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       908 non-null    int64
 1   sex       908 non-null    object
 2   cp        908 non-null    object
 3   trestbps  908 non-null    int64
 4   chol      908 non-null    int64
 5   fbs       908 non-null    bool
 6   restecg   908 non-null    object
 7   thalch    908 non-null    int64
 8   exang     908 non-null    object
 9   oldpeak   846 non-null    float64
 10  slope     908 non-null    object
 11  thal      908 non-null    object
 12  num       908 non-null    int64
dtypes: bool(1), float64(1), int64(5), object(6)
memory usage: 86.1+ KB
None

Missing values:

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalch       0
exang        0
oldpeak     62
slope        0
thal         0
num          0
dtype: int64

Numeric describe:

              age    trestbps        chol      thalch     oldpeak         num
count  908.000000  908.000000  908.000000  908.000000  846.000000  908.000000
mean    53.791850  133.430617  201.484581  135.957048    0.891253    1.008811
std      9.158031   20.401608  112.097949   26.804929    1.093875    1.144436
min     29.000000    0.000000    0.000000   60.000000   -2.600000    0.000000
25%     47.750000  120.000000  176.750000  118.000000    0.000000    0.000000
50%     54.000000  130.000000  224.000000  138.000000    0.500000    1.000000
75%     60.000000  144.000000  270.000000  156.000000    1.500000    2.000000
max     77.000000  200.000000  603.000000  202.000000    6.200000    4.000000

In [3]:
# Placeholder: Preprocessing & Model (run full notebook locally)
# When you run the full notebook locally, it'll create processed CSVs and model joblib in the same folder.
print("This is a lightweight notebook for download. Run the full version locally if you need the complete pipeline.")

This is a lightweight notebook for download. Run the full version locally if you need the complete pipeline.